*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h2{
	margin: 30px;
	font-size: 90px;
	cursor: pointer;
}
.main{
	font-family: 'MicraC', sans-serif;
	margin: auto;
	max-width: 100%;
	height: 100vh;
	background: linear-gradient(90deg , #FFDF84, #98FB98);
	display: flex;
	justify-content: center;
	align-items:  center;
}
